alabaster==0.7.12
appdirs==1.4.4
apturl==0.5.2
async-generator==1.10
attrs==21.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
beniget==0.4.1
bitstring==3.1.7
blinker==1.4
bottle==0.12.23
Bottleneck==1.3.2
breathe==4.33.1
Brlapi==0.8.3
Brotli==1.0.9
cattrs==22.2.0
certifi==2022.12.7
cffi==1.15.0
chardet==4.0.0
checkbox-support==0.22
Cheetah3==3.2.6
cliapp==1.20180812.1
click==8.0.3
click-plugins==1.1.1
click-threading==0.5.0
colorama==0.4.4
command-not-found==0.3
commentjson==0.9.0
conan==1.54.0
configobj==5.0.6
cryptography==3.4.8
cupshelpers==1.0
cycler==0.11.0
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
defusedxml==0.7.1
distro==1.6.0
distro-info===1.1build1
docopt==0.6.2
docutils==0.17.1
duplicity==0.8.21
et-xmlfile==1.0.1
etherscan-python==2.1.0
euclid3==0.1
exceptiongroup==1.0.4
exhale==0.3.1
fasteners==0.14.1
feedparser==6.0.8
fonttools==4.29.1
fs==2.4.12
future==0.18.2
gast==0.5.2
gps==3.22
guacamole==0.9.2
h11==0.14.0
hidapi==0.12.0.post2
hidapi-cffi==0.2.2
html5lib==1.1
httplib2==0.20.2
icoextract==0.1.2
idna==3.3
ifaddr==0.1.7
imagesize==1.3.0
importlib-metadata==4.6.4
iniconfig==1.1.1
ipython==7.31.1
ipyxact==0.3.2
jdcal==1.0
jedi==0.18.0
jeepney==0.7.1
Jinja2==3.0.3
keyring==23.5.0
KiKit==1.0.5
kiwisolver==1.3.2
language-selector==0.1
lark-parser==0.7.8
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
llvmlite==0.38.0
lockfile==0.12.2
louis==3.20.0
lxml==4.8.0
lz4==3.1.3+dfsg
macaroonbakery==1.3.1
Mako==1.1.3
Markdown==3.3.6
markdown2==2.4.3
MarkupSafe==2.0.1
mate-menu==22.4.1
mate-tweak==22.4.8
matplotlib==3.5.1
matplotlib-inline==0.1.3
meld==3.20.4
mercurial==6.1.1
monotonic==1.6
more-itertools==8.10.0
mpmath==0.0.0
netifaces==0.11.0
networkx==2.4
node-semver==0.6.1
numba==0.55.1
numexpr==2.8.1
numpy==1.21.5
numpy-stl==2.8.0
oauthlib==3.2.0
odfpy==1.4.2
olefile==0.46
onboard==1.4.1
openpyxl==3.0.9
outcome==1.2.0
packaging==21.3
padme==1.1.1
pandas==1.3.5
paramiko==2.9.3
parso==0.8.1
patch-ng==1.17.4
patsy==0.5.2
pcbnewTransition==0.2.0
pefile==2021.9.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.1
pipreqs==0.4.11
Pivy==0.6.5
pluggy==0.13.0
pluginbase==1.0.1
ply==3.11
prettytable==0.7.2
prompt-toolkit==3.0.28
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
py==1.10.0
pyasn1==0.4.8
PyAudio==0.2.11
pybars3==0.9.7
pycairo==1.20.1
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.44.1
pygccxml==2.2.1
Pygments==2.11.2
PyGObject==3.42.1
PyJWT==2.4.0
pymacaroons==0.13.0
PyMeta3==0.5.1
PyNaCl==1.5.0
PyOpenGL==3.1.5
pyparsing==2.4.7
pypng==0.0.19
PyQt-Qwt==1.2.2
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyqtgraph==0.12.4
PyQtWebEngine==5.15.5
pyRFC3339==1.1
pyserial==3.5
PySimpleGUI==4.60.4
PySocks==1.7.1
pytest==6.2.5
python-apt==2.3.0+ubuntu2.1
python-dateutil==2.8.1
python-debian===0.1.43ubuntu1
python-utils==2.2.0
python-xlib==0.29
pythran==0.10.0
pytz==2022.1
pyusb==1.2.1.post1
pyxattr==0.7.2
pyxdg==0.27
PyYAML==5.4.1
pyzmq==22.3.0
reportlab==3.6.8
requests==2.25.1
requests-cache==0.9.7
roman==3.3
rst2pdf==0.0.0
ruamel.yaml==0.17.16
ruamel.yaml.clib==0.2.6
rubber==1.6.0
scipy==1.8.0
SCons==4.0.1
scour==0.38.2
screen-resolution-extra==0.0.0
seaborn==0.11.2
SecretStorage==3.3.1
selenium==4.7.2
sentry-sdk==1.4.3
setproctitle==1.2.2
sgmllib3k==1.0.0
Shapely==1.8.0
simplejson==3.17.6
six==1.16.0
smartypants==2.0.0
sniffio==1.3.0
snowballstemmer==2.2.0
solidpython==1.1.3
sortedcontainers==2.4.0
soupsieve==2.3.1
Sphinx==4.3.2
ssh-import-id==5.11
sympy==1.9
system-service==0.3
systemd-python==234
tables==3.7.0
thrift==0.16.0
toml==0.10.2
tqdm==4.64.1
traitlets==5.1.1
trimesh==3.11.2
trio==0.22.0
trio-websocket==0.9.2
ttystatus==0.38
ubuntu-advantage-tools==27.12
ubuntu-drivers-common==0.0.0
ufoLib2==0.13.1
ufw==0.36.1
unattended-upgrades==0.1
unicodedata2==14.0.0
unity-lens-photos==1.0
unity-scope-calculator==0.1
unity-scope-devhelp==0.1
unity-scope-manpages==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-zotero==0.1
url-normalize==1.4.3
urllib3==1.26.12
usb-creator==0.3.7
wadllib==1.3.6
wcwidth==0.2.5
webencodings==0.5.1
wsproto==1.2.0
wxPython==4.0.7
xdg==5
xdiagnose==3.8.10
xkit==0.0.0
xlrd==1.2.0
XlsxWriter==3.0.2
xlwt==1.3.0
xmltodict==0.13.0
yarg==0.1.9
youtube-dl==2021.12.17
zeroconf==0.38.3
zipp==1.0.0
